
/*
    Tu vais adicionar tudo que está neste custom.css no fim do arquivo main.css, pois o CSS é lido de cima para baixo, diante disso regras escritas abaixo sobrescrevem definições anteriores...
*/

/* 1 */
.post-content p, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content ul, .post-content ol, .post-content iframe {
    line-height: 2.0rem; /* Anterior: 2.5em */
}

/* 2 */
.post-content ul {
    margin: none !important; /* Anterior: 0 auto 1.25rem (cima:0;esquerdaDireita:auto;baixo:1.25rem) */
}

/* 3 e 4 */
@media only screen and (min-width: 37.5rem) {
    pre {
        padding: 1.5rem 0; /* Anterior: 1.0rem 0 (cimaBaixo:1.0rem;esquerdaDireita:0) */
    }
}

/* 5 */
/* Aqui o html está utilizando a tag "p" para o que seria um subtítulo, no caso do print o subtítulo "Parte 2 - Embarque e Desembarque", dentre outros da página utilizada, porém não é adequada. O ideal seria uma tag própria para títulos/subtítulos como h2, h3, h4. Talvez seria melhor rever como está escrevendo subtítulos em seu post e/ou qual tag markdown que está usando para criar esses subtítulos. Use alguma tag markdown que converta-se para h2, h3, ou h4, que por padrão já deverá ter margin no topo e em baixo.
A seguir vocẽ verá gambis, de doer o baço, que provavelmente (certeza) afetará outros locais do site. */
.post-content p strong {
    margin: 5px 0 0 0; /* Anterior: não existe. (topo:5px;direita:0;baixo:0;esquerda:0) */
}

/* Extra */
@media only screen and (max-width: 37.5rem) {
    pre code {
        overflow-x: none; /* Tira a barra de rolagem horizontal na visualização para celular */
    }
}
