
/* 1 */
.post-content p, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content ul, .post-content ol, .post-content iframe {
    line-height: 1.9rem; /* Anterior: 2.5rem */
}

/* 2 */
.post-content ul {
    margin: 0 auto 0; /* Anterior: 0 auto 1.25rem (cima:0;esquerdaDireita:auto;baixo:1.25rem) */
}

/* 3 e 4 */
@media only screen and (min-width: 37.5rem) {
    pre {
        padding: 1.5rem 0; /* Anterior: 1.0rem 0 (cimaBaixo:1.0rem;esquerdaDireita:0) */
    }
}

/* 5 */
.highlighter-rouge {
    margin: 20px 0; /* Anterior: não existe (cimaBaixo:10px;esquerdaDireita:0) */
}

/* Extra */
@media only screen and (max-width: 37.5rem) {
    pre code {
        overflow-x: none; /* Tira a barra de rolagem horizontal na visualização para celular */
    }
}
